name: Haskell CI

on:
  # DO NOT DELETE.
  # This is required for nightly builds and is invoked by nightly-trigger.yml
  # on a schedule trigger.
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason'
        required: false
        default: manual
      tests:
        description: 'Tests'
        required: false
        default: some

jobs:
  setup-msys2-version:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: clang64
    - name: "blah"
      run: uname -a
    - name: "bleh"
      run: echo $SHELL
    - name: "Path"
      run: echo $PATH
    - uses: actions/checkout@v6
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
         limit-access-to-actor: true

  system-msys2:
    runs-on: windows-latest
    defaults:
      run:
        shell: 'C:/msys64/usr/bin/bash.exe -e {0}'
    env:
        MSYSTEM: CLANG64
    steps:
    - name: "blah"
      run: uname -a
    - name: "blah"
      run: uname -a
    - name: "bleh"
      run: echo $SHELL
    - name: "Path"
      run: echo $PATH
    - uses: actions/checkout@v6
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
         limit-access-to-actor: true
